<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:seo="http://typo3.org/ns/HauerHeinrich/HhSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:comment>
    For example use this in your own extension.
    @overwrite = Overwrites the data with lower order completely
</f:comment>

<hhs:metaTag order="10" overwrite="true">
description = <seo:formatIni><f:format.crop maxCharacters="180" respectWordBoundaries="1" respectHtml="0">{data.description}</f:format.crop></seo:formatIni>
</hhs:metaTag>

</html>
