<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:seo="http://typo3.org/ns/HauerHeinrich/HhSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:comment>DEPRICATED !!! PLEASE USE "YAML"-Style see file "ExampleYamlStyle.1.html" !!!

    ViewHelper attribute "order" (required):
    - A higher "order" number overwrites lower ones.
    - Example: use <seo:metaTag order="0">...</seo:metaTag> in your theme and EXT:news use a higher number e. g. <seo:metaTag order="10">...</seo:metaTag>

    ViewHelper attribute "overwrite" (optional):
    - If overwrite="true" is set, it overwrites all previous entries completely - otherwise it merges them (default = false).

    - Example for multiple images see "og:images" and for single image see "twitter:image".
    - KEY "[custom]" is requierd for custom meta-tags
    - The writing style is like in php.ini
</f:comment>

<seo:metaTag order="0" overwrite="false">
title = {data.title}
titleBefore = {hhSeo.titleBefore}
titleAfter = {hhSeo.titleAfter}
titleSeparate = "{hhSeo.titleSeparate}"
titleSeparateBefore = "{hhSeo.titleSeparateBefore}"
titleSeparateAfter = "{hhSeo.titleSeparateAfter}"

description = <seo:formatIni data="{data.description}" />

author = {f:if(condition: '{data.author}', then: '{data.author}', else: '{hhSeo.author}')}
designer = {f:if(condition: '{hhSeo.designer}', then: '{hhSeo.designer}')}
link:designer = /humans.txt

theme-color = {hhSeo.themeColor }
shortcutIcon = {hhSeo.shortcutIcon}
touchIcon = {hhSeo.touchIcon}
format-detection = {hhSeo.formatDetection}
last-modified = {data.SYS_LASTCHANGED}

robots:index = {f:if(condition: '{data.no_index}', then: 'noindex')}
robots:follow = {f:if(condition: '{data.no_follow}', then: 'nofollow')}

og:title = {data.og_title}
og:description = <seo:formatIni data="{data.og_description}" />
<f:if condition="{og_image->f:count()} > 0">
<f:for each="{og_image}" as="image" iteration="i">
og:image[] = {f:uri.image(src: '{image.uid}', treatIdAsReference: 1)}
</f:for>
</f:if>

twitter:title = {data.twitter_title}
twitter:description = <seo:formatIni data="{data.twitter_description}" />
twitter:image[] = <f:if condition="{twitter_image.0}">{f:uri.image(src: '{twitter_image.0.uid}', treatIdAsReference: 1)}</f:if>

geo:region = {hhSeo_slide_geoRegion}
geo:placename = {hhSeo_slide_geoPlacename}
geo:position:long = {hhSeo_slide_geoPositionLong}
geo:position:lat = {hhSeo_slide_geoPositionLat}

viewport = initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0,user-scalable=yes,width=device-width
canonical = {data.canonical_link}

[custom]
myCustomKey = "meta content='myCustomMetaTag' name='test'"
otherCustomKey = "meta content='blubb ' name='test 222' /"
</seo:metaTag>

</html>
