<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:seo="http://typo3.org/ns/HauerHeinrich/HhSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="seoTitle"><f:spaceless>
    <f:if condition="{newsItem.alternativeTitle}">
        <f:then>
            <seo:formatIni data="{newsItem.alternativeTitle}" strip-tags="true" urlencode="true" />
        </f:then>
        <f:else>
            <seo:formatIni data="{newsItem.title}" strip-tags="true" urlencode="true" />
        </f:else>
    </f:if>
</f:spaceless></f:variable>

<f:variable name="seoDescription"><f:spaceless>
    <f:if condition="{newsItem.description}">
        <f:then>
            <seo:formatIni data="{newsItem.description}" strip-tags="true" urlencode="true" />
        </f:then>
        <f:else>
            <f:if condition="{newsItem.teaser}">
                <f:then>
                    <seo:formatIni urlencode="true"><f:format.crop maxCharacters="155" append="..."><f:format.stripTags>{newsItem.teaser}</f:format.stripTags></f:format.crop></seo:formatIni>
                </f:then>
                <f:else>
                    <seo:formatIni urlencode="true"><f:format.crop maxCharacters="155" append="..."><f:format.stripTags>{newsItem.bodytext}</f:format.stripTags></f:format.crop></seo:formatIni>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:spaceless></f:variable>

<hhseo:metaTag order="50" dataType="yaml">
title: "News: {seoTitle}"
description: "<hhseo:formatIni data="{seoDescription}" />"

<f:if condition="{newsItem.author}">
author = "{newsItem.author}"
</f:if>

<f:if condition="{data.og_title} || {ogDescription} || {ogImage}">
og:
    type: "article"
    title: "<hhseo:formatIni data="{seoTitle}" />"
    description: "<hhseo:formatIni data="{seoDescription}" />"
    <f:if condition="{newsItem.falMedia -> f:count()} > 0">
    images:
    <f:for each="{newsItem.falMedia}" as="image" iteration="i">
        <f:if condition="{image.showinpreview}">
        - image: "{image.publicUrl}"
          width: "{image.properties.width}"
          height: "{image.properties.height}"
        </f:if>
    </f:for>
    </f:if>
</f:if>

<f:if condition="{data.twitter_title} || {data.twitter_description} || {twitter_image.0.uid}">
twitter:
    card: "summary"
    title: "<hhseo:formatIni data="{seoTitle}" />"
    description: "<hhseo:formatIni data="{seoDescription}" />"
    <f:if condition="{newsItem.falMedia -> f:count()} > 0">
    images:
    <f:for each="{newsItem.falMedia}" as="image" iteration="i">
        <f:if condition="{image.showinpreview}">
        - image: "{image.publicUrl}"
        </f:if>
    </f:for>
    </f:if>
</f:if>
</hhseo:metaTag>

</html>
